<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Global - Tạo mới hoặc cập nhật bill</title>
    <!-- Theme JS files -->
    <script type="text/javascript" src="/ump/bill-add.controller.js"></script>
    <script type="text/javascript" src="/ump/modal.customer.controller.js"></script>
    <!-- /theme JS files -->
</head>
<body ng-controller="BillAddController" ng-init="init()">
<th:block layout:fragment="content">

    <!-- Page header -->
    <div th:replace="bill/fragments/page-header-add-edit::page-header-add-edit"></div>
    <!-- /page header-->

    <!-- Page container -->
    <div class="page-container">
        <div class="displayNone dataResponse" th:data-data="${data}"></div>
        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Panel content -->
                <div class="panel panel-flat">

                    <div class="panel-heading">
                        <h5 ng-if="!item.id" class="panel-title"><span th:text="#{breadcrumb.part.add}"></span></h5>
                        <h5 ng-if="item.id" class="panel-title"><span th:text="#{breadcrumb.part.edit}"></span></h5>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li><a data-action="collapse"></a></li>
                            </ul>
                        </div>
                    </div>

                    <form class="form-horizontal formValidate" name="billFrm" id="billFrm">
                        <div class="panel-body">
                            <input type="hidden" class="form-control" id="sendCustomerHidden" ng-model="item.sendCustomer">
                            <input type="hidden" class="form-control" id="receiveCustomerHidden" ng-model="item.receiveCustomer">

                            <!--Row 1-->
                            <div class="row">
                                <!--billNo-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label labelBillNo"><span th:text="#{bill.billNo}"></span></label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="billNo" ng-model="item.billNo"
                                                   th:placeholder="#{bill.billNo}" name="billNo">
                                        </div>
                                    </div>
                                </div>
                                <!--End billNo-->


                            </div>
                            <!--End row 1-->

                            <!--&lt;!&ndash;Row 2&ndash;&gt;-->
                            <!--<div class="row">-->

                                <!--&lt;!&ndash;sendName&ndash;&gt;-->
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-md-3 control-label"><span th:text="#{bill.sendName}"></span></label>-->
                                        <!--<div class="col-md-8">-->
                                            <!--<input type="text" class="form-control" id="senderChoose" ng-model="item.sendName"-->
                                                   <!--th:placeholder="#{bill.sendName}" name="sendName"-->
                                                   <!--ng-click="chooseCustomer(0)" ng-readonly="true" data-info="">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;End Test&ndash;&gt;-->

                                <!--&lt;!&ndash;receiveName&ndash;&gt;-->
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-md-3 control-label"><span th:text="#{bill.receiveName}"></span></label>-->
                                        <!--<div class="col-md-8">-->
                                            <!--<input type="text" class="form-control" id="receiverChoose" ng-model="item.receiveName"-->
                                                   <!--th:placeholder="#{bill.receiveName}" name="receiverName"-->
                                                   <!--ng-click="chooseCustomer(1)" ng-readonly="true" data-info="">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;End Test&ndash;&gt;-->
                            <!--</div>-->
                            <!--&lt;!&ndash;End row 2&ndash;&gt;-->


                        </div>


                        <div class="clearfix"></div>

                        <!--Row 1-->
                        <div class="row">
                            <div class="col-md-6">
                                <div th:replace="bill/fragments/panel-sender::panel-sender"></div>
                            </div>

                            <div class="col-md-6">
                                <div th:replace="bill/fragments/panel-receiver::panel-receiver"></div>
                            </div>
                        </div>
                        <!--End row 1-->

                        <!--Row 2-->
                        <div class="row">
                            <div class="col-md-6">
                                <div th:replace="bill/fragments/panel-bill::panel-bill"></div>
                            </div>

                            <div class="col-md-6">
                                <!--<div th:replace="bill/fragments/panel-tranf::panel-tranf"></div>-->
                            </div>
                        </div>
                        <!--End row 2-->


                        <div class="panel-footer text-center">
                            <button type="button" ng-disabled="billFrm.$invalid" id="btnSubmit"
                                    ng-click="onSubmitFrm()" class="btn btn-primary"
                                    th:text="#{subscriber.header.title.subscriber.ok}"></button>
                            <a class="btn btn-default" href="/bill"
                               th:text="#{subscriber.header.title.subscriber.cancel}"></a>
                        </div>

                        <div th:replace="bill/fragments/modal-choose-user::modal-choose-user"></div>

                    </form>


                </div>

            </div>

        </div>

    </div>

    <!-- /page container -->

    <script type="text/javascript">
      billFrm
      $(document).ready(function () {
        console.log("ready");
        $("#customerForm").validate(common.formValidate);
      });
    </script>
</th:block>
</body>
</html>
