<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Add js,css here -->
    </head>
    <body>
        <!-- Page header -->
        <div th:fragment="page-header" class="page-header page-header-xs">
            <div class="page-header-content">
                <div class="page-title">
                    <h4><a href="/" class="btn-link"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold" th:text="#{layout.navbar.bill.title}"></span></h4>

                    <ul class="breadcrumb breadcrumb-caret position-right">
                        <li><a href="/" th:text="#{breadcrumb.home}"></a></li>
                        <li class="active" th:text="#{breadcrumb.bill}"></li>
                    </ul>
                </div>


                <div class="heading-elements">
                    <div class="heading-btn-group">
                        <!--<a href="/branch/add" class="btn btn-link btn-float has-text text-size-small">-->
                            <!--<i class="icon-plus3 text-indigo-400"></i><span th:text="#{common.btn.add}"></span>-->
                        <!--</a>-->

                        <a href="/bill/import" class="btn btn-link btn-float has-text text-size-small">
                            <i class="icon-import text-indigo-400"></i><span th:text="#{common.btn.import}"></span>
                        </a>

                        <a href="/bill/export" class="btn btn-link btn-float has-text text-size-small">
                            <i class="icon-database-export text-indigo-400"></i><span th:text="#{common.btn.export}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->

    </body>
</html>