<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add js,css here -->
</head>
<body>
<!-- Panel tranf -->
<div th:fragment="panel-tranf" class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><span th:text="#{bill.transf}"></span></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-6" style="border-right: 1px solid #dddddd">
            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.sender.date}"></label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="senderDateTime" is-open="isOpenSender"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendarSender($event, prop)">
                                <i class="icon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.sender.name}"></label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="item.sendBy"
                           th:placeholder="#{bill.transf.sender.name}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.sender.user}"></label>
                <div class="col-md-8">
                    <input type="text" ng-model="employeeSendSelected" placeholder=""
                           uib-typeahead="item as item.fullName for item in searchSendEmployee($viewValue)"
                           typeahead-loading="loadingSendSelected" typeahead-no-results="noResults" class="form-control"
                           typeahead-on-select="selectSendReceive($item)" typeahead-select-on-exact="true"
                           typeahead-wait-ms="80">

                    <!--<i ng-show="loadingReceiveSelected" class="glyphicon glyphicon-refresh"></i>-->
                    <!--<div ng-show="noResults">-->
                        <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                    <!--</div>-->
                </div>
            </div>
        </div>


        <div class="col-md-6" style="border-right: 1px solid #dddddd">
            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.receive.date}"></label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="receiverDateTime" is-open="isOpen"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)">
                                <i class="icon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.receive.name}"></label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="item.receiveBy"
                           th:placeholder="#{bill.transf.receive.name}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4" th:text="#{bill.transf.receive.user}"></label>
                <div class="col-md-8">
                    <input type="text" ng-model="employeeReceiveSelected" placeholder=""
                           uib-typeahead="item as item.fullName for item in searchEmployee($viewValue)"
                           typeahead-loading="loadingReceiveSelected" typeahead-no-results="noResults" class="form-control"
                           typeahead-on-select="selectEmployeeReceive($item)" typeahead-select-on-exact="true"
                           typeahead-wait-ms="80">

                    <!--<i ng-show="loadingReceiveSelected" class="glyphicon glyphicon-refresh"></i>-->
                    <!--<div ng-show="noResults">-->
                        <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- /panel tranf -->
</body>
</html>
