<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_without_login}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ONE Platform - Recover password</title>
    
    <script>
        $(function () {
            $('.btnContinue').click(function () {
                var token = getUrlQueryValue('token');
                var inputToken = $('.changeForgotPassword').find('.inputCode').val();

                if(token === inputToken) {
                    location.replace('/changeForgotPasswordConfirm' + location.search);

                    $('.messageErrorCode').hide();

                } else {
                    $('.messageErrorCode').show();
                }
            });

            function getUrlQueryValue(queryName) {
                // Function get value query parameter
                // return null if query name not exist
                var locationSearch = decodeURIComponent(window.location.search.substring(1));
                var currentQueryArr = locationSearch.split('&');
                var result = null;

                if(locationSearch.length > 0) {
                    for (var i = 0; i < currentQueryArr.length; i++) {
                        var queryItem = currentQueryArr[i].split('=');
                        var queryNameItem = queryItem[0];
                        if(queryNameItem === queryName) {
                            if(queryItem.length >= 1) {
                                result = currentQueryArr[i].substring(queryName.length + 1)
                            }
                            break;
                        }
                    }
                }

                return result;

            }
        })
    </script>

</head>
<body>
<div layout:fragment="content" class="page-container">
    <div class="page-content">

        <div class="content-wrapper">
            <div class="panel panel-flat">
                <div class="panel-body">
                    <div class="col-md-12 changeForgotPassword">
                        <p>Please check the email containing the security code in message.</p>
                        <p>
                            <input type="text" class="form-control inputCode" style="width: 300px; display: inline-block">
                            <span>We sent the code to <strong class="text-primary" th:text="${user.email}"></strong></span>
                        </p>
                        <p class="text-danger messageErrorCode" style="display: none;"> Security code is incorrect! </p>
                        <!--TODO VANLUONG-->
                        <p><a href="/users/forgot-password">You don't have a code</a></p>
                        <p>
                            <a class="btn btn-primary btnContinue">Continue</a>
                            <a href="/users/change-password" class="btn btn-default btnCancel">Cancel</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>