<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_without_login}">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ONE Platform - Recover password</title>
        <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>

        <script>
            $(function () {

                $('.btnShowHide').click(function () {
                    var currentInputType = $('.changeForgotPasswordConfirm').find('.inputNewPassword').attr('type');
                    if (currentInputType === 'password') {
                        $('.changeForgotPasswordConfirm').find('.inputNewPassword').attr('type', 'text');
                    } else {
                        $('.changeForgotPasswordConfirm').find('.inputNewPassword').attr('type', 'password');
                    }
                });
                function getUrlQueryValue(queryName) {
                    // Function get value query parameter
                    // return null if query name not exist
                    var locationSearch = decodeURIComponent(window.location.search.substring(1));
                    var currentQueryArr = locationSearch.split('&');
                    var result = null;

                    if (locationSearch.length > 0) {
                        for (var i = 0; i < currentQueryArr.length; i++) {
                            var queryItem = currentQueryArr[i].split('=');
                            var queryNameItem = queryItem[0];
                            if (queryNameItem === queryName) {
                                if (queryItem.length >= 1) {
                                    result = currentQueryArr[i].substring(queryName.length + 1)
                                }
                                break;
                            }
                        }
                    }

                    return result;

                }
                $('.btnContinue').click(function () {

                    // Validate
                    var inputNewPassword = $('.changeForgotPasswordConfirm').find('.inputNewPassword').val();
                    if (inputNewPassword.length > 63 || inputNewPassword < 5) {
                        $('.messageError').show();
                    } else {
                        $('.messageError').hide();

                        // TODO VANLUONG check token

                        $.ajax({
                            type: "POST",
                            url: '/change-password-with-token',
                            data: {
                                newPassword: inputNewPassword,
                                userId: getUrlQueryValue("userId"),
                                token: getUrlQueryValue("token")
                            },
                            success: function (response) {
                                if (response) {
                                    new PNotify({text: "Save new password successfully", addclass: 'bg-success'});
                                    if ($('.checkboxLogout').is(":checked")) {
                                        location.replace(getUrlQueryValue('redirect') + '/logout')
                                    } else {
                                        location.replace(getUrlQueryValue('redirect'));
                                    }
                                } else {
                                    new PNotify({text: "Save new password error", addclass: 'bg-danger'});
                                }
                            }
                        });
                    }
                })
            })
        </script>

    </head>
    <body>
        <div layout:fragment="content" class="page-container">
            <div class="page-content">

                <div class="content-wrapper">
                    <div class="panel panel-flat">
                        <div class="panel-body">
                            <div class="col-md-12 changeForgotPasswordConfirm">
                                <p>Please enter your new password here:</p>
                                <p>
                                    <span>New password: </span>
                                    <input type="password" class="form-control inputNewPassword" minlength="5" maxlength="63" required="required" style="width: 300px; display: inline-block">
                                    <a class="btn btn-default btnShowHide">Show/Hide</a>
                                </p>
                                <p class="text-danger messageError" style="display: none;">Password should be between 5 and 63 characters. </p>
                                <p><input type="checkbox" class="checkboxLogout"> Logout of UMP system</p>
                                <p>
                                    <a class="btn btn-primary btnContinue">Continue</a>
                                    <a href="/users/change-password" class="btn btn-default btnCancel">Cancel</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>