<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="confirmForgotPassword" class="modal modalConfirmForgotPassword">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="" class="formConfirmForgotPassword">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-primary text-uppercase">Recover password</h5>
                </div>
                <div class="modal-body">
                    <p style="color: black">You can receive the security code via email <strong class="text-primary inputEmail"></strong></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btnContinue"> Ok</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>