<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>

        <div th:fragment="forgotPassword" class="modal modalForgotPassword">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="" class="formForgotPassword">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title text-primary text-uppercase">FIND YOUR ACCOUNT</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Please enter email to search account</label>
                                <input type="email" class="form-control" name="email" placeholder="Email..." required="true">
                                <label class="text-danger messageNotFound" style="display: none">Search returned no results. Please try again with more information.</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary searchBtn"> Search</a>
                            <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>