<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
    <head>
        <title>ONE Platform - Users</title>
        <!-- Theme JS files -->
        <script type="text/javascript" src="/ump/user-info.controller.js"></script>
        <!-- /theme JS files -->
    </head>
    <body ng-controller="UserInfoController">
    <th:block layout:fragment="content">

        <div class="javaResponse"
             th:data-userId="${userId}"
             style="display: none"></div>

        <!-- Page header -->
        <div th:replace="users/page-header::page-header"></div>
        <!-- /page header-->

        <!-- Page container -->
        <div class="page-container">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">

                    <!-- Panel content -->
                    <div class="panel panel-flat">

                        <div class="panel-heading">
                            <h5 class="panel-title"> <span th:text="#{user.info.title.up}"></span></h5>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                        </div>

                        <form class="form-horizontal formValidate formUpdateNotification">
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{username}"></span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${userName}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{fullName}"></span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${fullName}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">Email</label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${email}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{phoneNumber}"></span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${phoneNumber}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{user.search.branch}"></span>
                                                <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${branchName}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{user.search.role}"></span>
                                                <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span class="tag label col-md-11 control-label"
                                                  th:each="r : ${role}" style="text-align:  left; color:  black;">
                                                <span th:text="${r.name}"></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label"> <span th:text="#{user.description}"></span></label>
                                        </div>
                                        <div class="col-md-10">
                                            <span th:text="${description}"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="panel-footer text-center">
                                <button type="submit" class="btn btn-primary btn-icon" ng-click="onSubmitNotification()"> <i class="icon-checkmark3 position-left"></i> <span th:text="#{btn.ok}"></span></button>
                                <a class="btn btn-link btn-icon" th:href="${'/users/change-password/' + session.username}"> <i class="icon-hyperlink position-left"></i> <span th:text="#{user.info.change.password}"></span></a>
                                <a class="btn btn-link" href="/" th:text="#{subscriber.header.title.subscriber.cancel}"></a>
                            </div>
                        </form>

                    </div>


                </div>
                <!-- /panel content -->

                <!-- Modal replace-->
                <!--<div th:replace="devices/fragments/modal-delete::modal-delete"></div>-->
                <!-- /modal replace-->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</th:block>
</body>
</html>