<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>ONE Platform</title>
        <!-- core css files -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
        <!-- core css files -->
        <!-- Core JS files -->
        <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/forms/validation/validate.min.js"></script>
        <!-- /core JS files -->

        <!--<script type="text/javascript" src="/ump/ump.js"></script>-->
        <!--<link href="/ump/ump.css" rel="stylesheet" type="text/css">-->
    </head>
    <body>
        <div class="page-container" layout:fragment="content"> </div>
        <!--<div th:replace="fragments/footer :: footer"></div>-->
    </body>
</html>