<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      ng-app="UserWebApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Global - User web application</title>

        <!-- Global stylesheets -->
        <link href="/assets/css/google-font/css.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
        <link href="/assets/js/core/libraries/angularjs/tree-grid.css" rel="stylesheet" type="text/css">
        <link href="/assets/js/core/libraries/angularjs/ivh-treeview.css" rel="stylesheet" type="text/css">
        <link href="/assets/js/core/libraries/angularjs/ivh-treeview-theme-basic.css" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

        <!-- Theme stylesheets files -->
        <link href="/ump.css" rel="stylesheet" type="text/css">
        <!-- /theme stylesheets files -->

        <!-- Core JS files -->
        <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
        <!-- /core JS files -->

        <!-- Theme JS files -->
        <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/forms/validation/validate.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/websocket/sockjs.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/websocket/stomp.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2-4.0.6.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
        <script type="text/javascript" src="/assets/js/plugins/ui/prism.min.js"></script>
        <!-- /theme JS files -->

        <!-- Angular JS files -->
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/checklist-model.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/select2.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-translate.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/tree-grid-directive.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/ivh-treeview.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/datetime-picker.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/widgets.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/effects.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/interactions.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/fancytree_all.min.js"></script>
        <script type="text/javascript" src="/assets/js/core/libraries/angularjs/fancytree_childcounter.js"></script>
        <!-- /angular JS files -->

        <script type="text/javascript" src="/assets/js/multiselect/select.js"></script>
        <link href="/assets/js/multiselect/select.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/assets/js/core/app.js"></script>
        <script type="text/javascript" src="/custom.js"></script>
        <script type="text/javascript" src="/ump.js"></script>
        <script type="text/javascript" src="/ump/constants.js"></script>
        <script type="text/javascript" src="/ump/common.js"></script>
        <script type="text/javascript" src="/ump/app.module.js"></script>
        <script type="text/javascript" src="/ump/app.filter.js"></script>
        <script type="text/javascript" src="/ump/app.service.js"></script>
        <script type="text/javascript" src="/ump/app.directive.js"></script>
        <script type="text/javascript" src="/ump/app.translate.js"></script>
        <style>
            .abc {
                margin-bottom: 20px;
            }
            .fancytree-icon {
                display: none;
            }
            .fancytree-checkbox {
                margin: 4px 0 0 2px
            }
            .right_btn {
                margin-left: 10px;
            }
            .blue {
                color: blue;
            }
            .red {
                color: red;
            }
        </style>
    </head>
    <body class="navbar-top">
        <div class="preloader" id="preloader1"><hr/><hr/><hr/><hr/></div>
        <div class="preloader" id="preloader2"><hr/><hr/><hr/><hr/></div>

        <div th:replace="layouts/fragments/navbar::navbar"></div>

        <div layout:fragment="content"></div>

        <div th:replace="layouts/fragments/footer::footer"></div>

        <script type="text/javascript">
            $(document).ready(function () {
                console.log("ready!");
                $(".formValidate").validate(common.formValidate);
            });
        </script>
    </body>
</html>