.fsize16{
  font-size: 16px;
}
.displayNone {
  display: none;
}

/*<editor-fold desc="Style for input inline">*/
.value-edit-inline:hover {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle for label error in paging">*/
.formPaging .form-group {
  vertical-align: middle;
}

.formPaging .validation-error-label {
  position: static !important;
  display: inline-block;
}

.formPaging .validation-error-label:before, .formPaging .validation-valid-label:before {
  position: static;
}

/*</editor-fold>*/

/*<editor-fold desc="Angular ui">*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Search more">*/
.dropdownMoreInputSearch li {
  padding: 8px 16px;
}

.dropdownMoreInputSearch li:hover {
  background-color: #f5f5f5;
}

.dropdownMoreInputSearch li input[type=checkbox] {
  margin: 0;
  position: relative;
  top: 2px;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle active nav tab">*/
.nav-tabs.nav-tabs-solid > .active > a:after, .nav-tabs.nav-tabs-solid > .active > a:hover:after, .nav-tabs.nav-tabs-solid > .active > a:focus:after {
  background-color: #3f51b5;
}

/*</editor-fold>*/

/*<editor-fold desc="View detail in table">*/
.viewDetail:hover {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Spinner">*/
.preloader {
  z-index: 99999;
  display: none;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.preloader hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite
}

.preloader :first-child {
  background: #6a91ff;
  animation-delay: -1.5s
}

.preloader :nth-child(2) {
  background: #5477ff;
  animation-delay: -1s
}

.preloader :nth-child(3) {
  background: #4860ff;
  animation-delay: -0.5s
}

.preloader :last-child {
  background: #3F51B5
}

@keyframes spin {
  0%, 100% {
    transform: translate(0)
  }
  25% {
    transform: translate(160%)
  }
  50% {
    transform: translate(160%, 160%)
  }
  75% {
    transform: translate(0, 160%)
  }
}

/*</editor-fold>*/

table td .label-striped {
  margin: 1px 5px 1px 0px;
  padding: 1px 5px;
  font-size: 12px !important;
}

/*<editor-fold desc="TABLE BASIC INFO">*/
table.table-basic-info tr {
  background-color: #f8f8f8
}

table.table-basic-info tr:hover {
  background-color: #ebebeb
}

table.table-basic-info tr td:first-child {
  font-weight: 500;
}

table.table-basic-info tr:first-child td {
  border-top: 0 !important;
}

table.table-basic-info td {
  white-space: nowrap;
}

/*</editor-fold>*/

/*<editor-fold desc="COMMON STYLE FOR TEXT">*/
.page-title h4 {
  text-transform: uppercase;
}

.breadcrumb li:first-child {
  text-transform: capitalize;
}

.breadcrumb li {
  /*text-transform: lowercase;*/
}

/*</editor-fold>*/

/*<editor-fold desc="RESTYLE SEARCH FORM">*/
@media (min-width: 1025px) {
  .form-search .form-group {
    margin-bottom: -25px;
    height: 75px;
  }
}

.multi-select-full .checkbox input[type='checkbox'] {
  display: none;
}

/*</editor-fold>*/

.help {
  cursor: help;
}

.select2-container {
  width: 100% !important;
}

/*<editor-fold desc="Style row for alarm">*/
.table > thead > tr > td.yellow,
.table > tbody > tr > td.yellow,
.table > tfoot > tr > td.yellow,
.table > thead > tr > th.yellow,
.table > tbody > tr > th.yellow,
.table > tfoot > tr > th.yellow,
.table > thead > tr.yellow > td,
.table > tbody > tr.yellow > td,
.table > tfoot > tr.yellow > td,
.table > thead > tr.yellow > th,
.table > tbody > tr.yellow > th,
.table > tfoot > tr.yellow > th {
  background-color: #feff0047;
}

.table-hover > tbody > tr > td.yellow:hover,
.table-hover > tbody > tr > th.yellow:hover,
.table-hover > tbody > tr.yellow:hover > td,
.table-hover > tbody > tr:hover > .yellow,
.table-hover > tbody > tr.yellow:hover > th {
  background-color: #feff0080;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle label device, label group device">*/
.label-striped {
  text-transform: none !important;
}

.label-warning-severity {
  background-color: #9BF0E9;
  font-weight: bold;
  color: black
}

.label-info-severity {
  background-color: #00FF11;
  font-weight: bold;
  color: black
}

.label-minor-severity {
  background-color: #F8FF01;
  font-weight: bold;
  color: black
}

.label-major-severity {
  background-color: #FCC200;
  font-weight: bold;
  color: black
}

.label-critical-severity {
  background-color: #FF4500;
  font-weight: bold;
  color: black
}

.label-severity {
  min-width: 60px !important;
  display: inline-block !important
}

/*</editor-fold>*/

/*<editor-fold desc="RESTYLE SELECT2">*/
.select2-results__message {
  display: none !important;
}

/*</editor-fold>*/
.width-1 {
  width: 1px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.min-width-150 {
  min-width: 150px !important;
}

.min-width-200 {
  min-width: 200px !important;
}

.min-width-250 {
  min-width: 250px !important;
}

.max-width-100 {
  max-width: 100px !important;
  word-wrap: break-word;
}

.max-width-150 {
  max-width: 150px !important;
  word-wrap: break-word;
}

.max-width-200 {
  max-width: 200px !important;
  word-wrap: break-word;
}

.max-width-250 {
  max-width: 250px !important;
  word-wrap: break-word;
}

.max-width-300 {
  max-width: 300px !important;
  word-wrap: break-word;
}

table td.text-fit, table th.text-fit {
  width: 1px !important;
  white-space: nowrap !important;
}

.bg-alarm-critical {
  background-color: rgba(244, 67, 54, 0.96);
}

.bg-alarm-major {
  background-color: rgba(232, 216, 48, 0.96);
}

.bg-alarm-minor {
  background-color: rgba(0, 175, 53, 0.96);
}

.text-alarm-critical {
  color: rgba(244, 67, 54, 0.99);
}

.text-alarm-major {
  color: rgba(232, 216, 48, 0.99);
}

.text-alarm-minor {
  color: rgba(0, 175, 53, 0.99);
}

.border-alarm-critical {
  border-color: rgba(244, 67, 54, 0.99);
}

.border-alarm-major {
  border-color: rgba(232, 216, 48, 0.99);
}

.border-alarm-minor {
  border-color: rgba(0, 175, 53, 0.99);
}

.not-allowed {
  cursor: not-allowed;
}

form.form-label-right .control-label {
  text-align: right !important;
}

.footer:not(.navbar-fixed-bottom) {
  z-index: 999 !important;
}

.dropdown-notification .dropdown-content-body {
  padding: 0 0 20px 0;
}

.dropdown-notification .dropdown-content-body .media {
  padding: 10px 5px 10px 20px;
  margin-top: 0;
  border-bottom: 1px solid #ddd;
}

.dropdown-notification .dropdown-content-body .media-active {
  background-color: #eee;
}

.dropdown-notification .dropdown-content-heading {
  border-bottom: 1px solid #ddd;
}

.labelBillNo {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.init{
  background-color: #fff;
  color: #0b76cc;
  font-weight: bold;
}

.process{
  background-color: #fff;
  color: greenyellow;
  font-weight: bold;
}
.finish{
  background-color: #fff;
  color: green;
  font-weight: bold;
}
.hasError{
  background-color: #fff;
  color: red;
  font-weight: bold;
}
.deleted{
  background-color: #fff;
  color: grey;
  font-weight: bold;
}

input[type="checkbox"]:focus {
  border-color: #ffffcc;
  outline:1px;
}