<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add js,css here -->
</head>
<body>
<!-- Panel search -->
<div th:fragment="panel-search" class="panel panel-flat">
    <div class="panel-heading">
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <form ng-submit="onSearch()" method="POST" class="form-horizontal form-search row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4 labelBillNo" th:text="#{bill.billNo}"></label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="params.billNo"
                               th:placeholder="#{bill.billNo}">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button type="button" ng-click="onSearch()" class="btn btn-icon btn-default"><i class="icon-search4"></i></button>
            </div>

            <div class="clearfix"></div>
        </form>
    </div>
</div>
<!-- /panel search -->



</body>
</html>
