<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Add js,css here -->
</head>
<body>
<!-- Page header -->
<div th:fragment="page-header" class="page-header page-header-xs">
  <div class="page-header-content">
    <div class="page-title">
      <h4><a href="/" class="btn-link"><i class="icon-arrow-left52 position-left"></i></a> <span class="text-semibold" th:text="#{layout.navbar.permissions}"></span></h4>

      <ul class="breadcrumb breadcrumb-caret position-right">
        <li><a href="/" th:text="#{breadcrumb.home}"></a></li>
        <li class="active" th:text="#{breadcrumb.permissions}"></li>
      </ul>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <a href="/permissions/permission-add" class="btn btn-link btn-float has-text text-size-small">
          <i class="icon-plus3 text-indigo-400"></i><span th:text="#{common.btn.addPermissions}"></span>
        </a>

        <a ng-disabled="checklistTable.permission.length == 0" ng-click="onPermissionsDelete()" class="btn btn-link btn-float has-text text-size-small">
          <i class="icon-cross2 text-indigo-400"></i><span th:text="#{common.btn.delete}"></span>
        </a>

        <button class="btn btn-link btn-float has-text text-size-small btnRefresh" ng-click="onRefresh()">
          <i class="icon-sync text-indigo-400"></i><span th:text="#{common.btn.refresh}"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- /page header -->

</body>
</html>